@CHARSET "UTF-8";

div, p, h1, h2 {
	margin: 0px;
}

/* 오버레이 */
.popup * {
/* 	border: solid 1px red; */
}

#overlay_t {
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	/* IE7 & 8 */ position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
	display:none;
}

/* left popup */
#popup_layer_left {
	
	top:2%;
	left:50%;
	width:780px;
	height:95%;
	transform: translate(-70%, 0%);
	/*width:400px;
	margin-bottom:30px;*/
	background:#fff;
	border:solid 1px #ccc;
	position:absolute;
	box-shadow: 0px 1px 20px #333;
	z-index:100;
	overflow: auto;
	display:none;
}

.popup_left {
	width:750px;
	display: inline-block;
	position: relative;
}

.div_title {
	display: inline-block;
	position: relative;
}

.div_state {
	right:10px;
	top:5px;
	position: absolute;
	display: inline-block;
}


.div_left_mainImg img {
	width:750px;
}
.div_left_tournament img {
	width:750px;
}

/* right popup */
#popup_layer_right {
	
	top:2%;
	left:50%;
	width:310px;
	height:190px;
	transform: translate(85%, 0%);
	/*width:400px;
	margin-bottom:30px;*/
	background:#fff;
	border:solid 1px #ccc;
	position:absolute;
	box-shadow: 0px 1px 20px #333;
	z-index:100;
	overflow: hidden;
	display:none;
}

.popup_right_title {
	height:45px;
	text-align: center;
}
.popup_right_title h1 {
	display: inline;
}

.popup_right_teamThumb {
	height: 45px;
}

.popup_right_teamName {
	height: 45px;
}

.popup_right_joinbtn {
	height: 45px;
}

/* 여기까지 오버레이 */

/* mid container */
.container *{
	border: solid 1px red;
}

.container {
	min-height: 2000px;
	width:100%;
	min-width: 800px;
	border: solid 1px red;
}
.container ul {
	padding: 0px;
	margin:0px;
}
.container li {
	list-style: none;
	position: relative;
	height: 100px;
	
}
.comp_list_container {
	width:80%;
	min-width: 680px;
	display: inline-block;
}
.comp_list_btndiv {
	width: 100px;
	height: 100%;
	position: absolute;
	right:10px;
	display: inline-block;
}

.comp_list_btn {

}

.comp_list_content {
	position: relative;
}

.comp_list_addr {
	width: 49%;
	position: absolute;
	max-height: 45px;
	right: 0px;
	overflow: hidden;
}
.comp_list_rsdt {
	width: 49%;
	float:left;
}

.comp_list_sdt {
	width: 49%;
	
}

.g_gracket { width: 9999px; background-color: #fff; padding: 55px 15px 5px; line-height: 100%; position: relative; overflow: hidden;}
    .g_round { float: left; margin-right: 70px; }
    .g_game { position: relative; margin-bottom: 15px; }
    .g_gracket h3 { margin: 0; padding: 10px 8px 8px; font-size: 18px; font-weight: normal; color: #fff}
    .g_team { background: #3597AE; }
    .g_team:last-child {  background: #FCB821; }
    .g_round:last-child { margin-right: 20px; }
    .g_winner { background: #444; }
    .g_winner .g_team { background: none; }
    .g_current { cursor: pointer; background: #A0B43C!important; }
    .g_round_label { top: -5px; font-weight: normal; color: #CCC; text-align: center; font-size: 18px; }
    
    /* secondary-bracket */
      .container-secondary { position: relative; overflow: hidden; }
      .secondary-bracket { bottom: 160px; left: 730px; position: absolute; width: 500px; }
      .container-secondary h4 { color: #CCCCCC; font-weight: normal; left: 0; margin: 0; padding: 0; position: absolute; bottom: 55px; z-index: 9999; }
      .secondary-bracket .g_round_label { top: -25px; }
      .secondary-bracket > div { padding-top: 35px;}