@CHARSET "UTF-8";

div, p {
	margin: 0px;
}

.popup * {
	border: solid 5px red;
}


/* 오버레이 */
#overlay_t {
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	/* IE7 & 8 */ position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
	display:none;
}

#popup_layer {
	top:50px;
	left:50%;
	width:1000px;
	transform: translate(-50%, 0%);
	/*width:400px;
	margin-bottom:30px;*/
	background:#fff;
	border:solid 1px #ccc;
	position:absolute;
	box-shadow: 0px 1px 20px #333;
	z-index:100;
	display:none;
}

.popup_left {
	width:750px;
	display: inline-block;
	position: relative;
}
.popup_right{
	width:200px;
	margin-left: 10px;
	display: inline-block;
	position: absolute;
}

.div_title {
	display: inline-block;
	position: relative;
}

.div_state {
	left: 600px;
	display: inline-block;
}