@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
    font-family: 'nexonFont';
    src: url("fonts/NEXON Football Gothic L.otf") format("opentype");
}
body {font-family: 'nexonFont';}

/* Reserved Class
-------------------------------------------------------------- */
.blind{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.show{display:block;}
.hide{display:none;}
.fL{float:left;}
.fR{float:right;}
.clearFix{zoom:1;}
.clearFix:after{clear:both; display:block; content:'';}
.sprBtn{background:url(http://s.nx.com/s2/game/tos/obt/common/spr_btn.png) no-repeat; text-indent:-9999px; display:block;}

#add_competition {
	width: 800px;
	height: 88%;
	padding-bottom: 2px;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	overflow:auto;
}

#add_competition-header {  padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#add_competition-header  h2 { color: #444; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#add_competition-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

#add_competition .txt-fld { position: relative; width: 700px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#add_competition .btn-fld { width: 430px; overflow: hidden; padding: 12px 0px 12px 150px; margin-left:-110px;}

#add_competition .txt-fld label { display: block; float: left; width: 110px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
#add_competition .txt-fld input { width: 495px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
/* #add_competition .txt-fld input.good_input { background: #DEF5E1 ; } */
#add_competition .txt-fld input.error_input { background: #FDE0E0; }
#add_competition .txt-fld select { width: 515px; padding: 7px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }

#add_competition .txtarea-fld { position: relative; width: 735px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#add_competition .txtarea-fld div {width:700px; }
#add_competition .txtarea-fld label { display: block; float: left; width: 120px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
#add_competition .txtarea-fld textarea { width: 494px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#add_competition_img { float:right; }

/* view Wrap */
.viewWrap .mainArea{width:798px; background:#fff; padding:48px 50px; margin:auto; float:left;}
.viewWrap .header{width:798px; border-bottom:2px solid #b2b2b2; margin:0 0 17px 0; padding:0 0 24px 0; top:-15px;}
.viewWrap .header .cat1{font-size:12px; margin:0 0 27px 0;}
.viewWrap .header .cat1 .dep1{height:26px; line-height:26px; color:#fff; background:#907c6e; padding:0 8px; float:left;}
.viewWrap .header .cat1 .bul{height:24px; float:left;}
.viewWrap .header .cat1 .bulGM{width:auto; line-height:24px; color:#ab9a8d; background:url(http://s.nx.com/s2/game/tos/obt/common/bullet/bul_gmlike_small.png) 4px 6px no-repeat; border:1px solid #c5bbb3; border-left:0 none; padding:0 5px 0 22px;}
.viewWrap .header dl{padding:3px 0 0 0; float:right;}
.viewWrap .header dl dt, .viewWrap .header dl dd{float:left;}
.viewWrap .header dl dt{color:#aaa;margin:1px 12px 0 0;}
.viewWrap .header dl dd{font-size:15px; font-weight:300; color:#888;margin:0 20px 0 0;}
.viewWrap .header dl dd.like{margin-right:0;}
.viewWrap .header .subject{float:left;}
.viewWrap .header .tit{font-size:22px; letter-spacing:-2px; color:#222; margin:0 0 10px 0;}
.viewWrap .header .tit small{font-weight:300; color:#cda182;}
.viewWrap .header .etc .cat2{font-size:14px; color:#cda182; margin:0 10px 0 0; padding:0 13px 0 0; position:relative;}
.viewWrap .header .etc .cat2:after{width:1px; height:12px; background:#dcdcdc; content:''; position:absolute; right:0; top:2px; display:block;}
.viewWrap .header .etc .date{font-size:15px; font-weight:300; color:#aaa;}
.viewWrap .header .cnt{text-align:center; color:#888; float:right;}
.viewWrap .header .cnt span{float:left;}
.viewWrap .header .cnt span.view{margin:0 30px 0 0;}
.viewWrap .header .cnt strong{font-size:22px; font-weight:300; color:#cda182; margin:0 0 9px 0; display:block;}
.viewWrap .btnEtc p{float:right;}
.viewWrap .btnEtc a{color:#666; float:left;}
.viewWrap .btnEtc a.edit{margin:0 11px 0 0; padding:0 11px 0 0; position:relative;}
.viewWrap .btnEtc a.edit:after{width:1px; height:12px; background:#d1d1d1; content:''; position:absolute; right:0; top:2px; display:block;}
.viewWrap .viewContents{line-height:1.6; font-size:15px; word-break:break-all; word-wrap:break-word; padding:0 0 50px 0;}
.viewWrap .viewContents img, .viewWrap .viewContents iframe, .viewWrap .viewContents object, .viewWrap .viewContents embed{max-width:100%;}
.viewWrap .viewContentsBtm{border-top:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; margin:0 0 47px 0; padding:12px 0;}
.viewWrap .viewContentsBtm a{color:#888;}
.viewWrap .viewContentsBtm .btnReport{padding:0 0 0 2px; float:left;}
.viewWrap .viewContentsBtm .btnReport a{text-decoration:none;}
.viewWrap .viewContentsBtm .btnReport img{margin:0 2px 0 0; vertical-align:bottom;}
.viewWrap .viewContentsBtm .btnEtc{float:right;}
.viewWrap .viewContentsBtm .btnEtc .edit{margin:0 10px 0 0; padding:0 13px 0 0; position:relative;}
.viewWrap .viewContentsBtm .btnEtc .edit:after{width:1px; height:12px; background:#dcdcdc; content:''; position:absolute; right:0; top:2px; display:block;}
/*.viewWrap .btmArea{border-top:1px solid #888; border-bottom:1px solid #888; margin:0 0 45px 0; position:relative;}
.viewWrap .btmArea .btnList{float:left;}
.viewWrap .btmArea .btnWrite{float:right;}
.viewWrap .btmArea ul{width:173px; height:45px; background-position:-448px -103px; position:absolute; left:50%; top:0; margin-left:-86px;}
.viewWrap .btmArea ul li{float:left;}
.viewWrap .btmArea ul li button{height:45px; text-indent:-9999px; outline:none; display:block;}
.viewWrap .btmArea ul li button.btnLike{width:35px;}
.viewWrap .btmArea ul li button.btnLikeOn{background:url(http://s.nx.com/s2/game/tos/obt/common/spr_btn.png) -405px -103px no-repeat;}
.viewWrap .btmArea ul li button.btnF{width:48px;}
.viewWrap .btmArea ul li button.btnK{width:45px;}
.viewWrap .btmArea ul li button.btnCopyClip{width:45px;}*/
.viewWrap .listComments h3{font-weight:normal; color:#444; margin:0 0 12px 0;}
.viewWrap .listComments h3 strong{font-size:16px; font-weight:300; color:#cda182;}
.viewWrap .listComments .loginArea{text-align:center; border-top:2px solid #907c6e; border-bottom:1px solid #bcb0a8; padding:22px 0}
.viewWrap .listComments .loginArea span{font-size:15px; color:#888; vertical-align:middle;}
.viewWrap .listComments .loginArea a{width:72px; height:36px; line-height:36px; text-decoration:none; color:#fff; background:#9f9792; display:inline-block; vertical-align:middle; margin:0 0 0 10px;}
.viewWrap .listComments .commentWrite textarea{width:680px; height:58px; padding:10px; border:2px solid #907c6e; border-right:0 none; resize:none; float:left;}
.viewWrap .listComments .commentWrite textarea:-ms-input-placeholder{color:#aaa;}
.viewWrap .listComments .commentWrite textarea.placeholder{color:#aaa;}
.viewWrap .listComments .commentWrite .btnWrite{float:left;}
.viewWrap .listComments .comment1 .btnWrite{height:44px; line-height:44px;}
/* .viewWrap .listComments ul{padding:0 0 50px 0;} */
.viewWrap .listComments li{position:relative;}
.viewWrap .listComments li dt{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.viewWrap .listComments .nameWrap{margin:0 0 3px 0; zoom:1;}
.viewWrap .listComments .nameWrap:after{clear:both; display:block; content:'';}
.viewWrap .listComments .nameWrap .img{width:44px; padding:2px 0 0 0; float:left;}
.viewWrap .listComments .nameWrap .img img{width:35px;}
.viewWrap .listComments .nameWrap .contents{padding:2px 0 0 0; float:left;}
.viewWrap .listComments .nameWrap .contents .name{line-height:16px; font-size:14px; font-weight:normal; color:#ad9c90; padding:0;}
.viewWrap .listComments .nameWrap .contents .name2{color:#847870; padding:10px 0 0 0;}
.viewWrap .listComments .nameWrap .contents .name2 .date{font-weight:300; font-size:12px; color:#888;}
.viewWrap .listComments .nameWrap .contents .name .nameTeam{color:#847870; margin:0 2px 4px 0;}
.viewWrap .listComments .nameWrap .contents .lvs{font-size:12px; color:#9e9d9e; padding:0 0 0 1px; display:block;}
.viewWrap .listComments .nameWrap .contents .lvs .lv{position:relative; margin:0 7px 0 0; padding:0 10px 0 0; zoom:1;}
.viewWrap .listComments .nameWrap .contents .lvs .lv:after{width:1px; height:11px; background:#dbdbdb; content:''; position:absolute; right:0; top:1px; display:block;}
.viewWrap .listComments .nameWrap .contents .lvs .server{margin:0 9px 0 0;}
.viewWrap .listComments .contents{line-height:22px; word-break:break-all; word-wrap:break-word; padding-left:44px;}
.viewWrap .listComments .contents a{font-size:12px; text-decoration:none; color:#907c6e; margin:0 0 0 10px;}
.viewWrap .listComments .contents a{background:url(http://s.nx.com/s2/game/tos/obt/common/bullet/bul_commentt1.gif) 100% 50% no-repeat; padding:0 13px 0 9px; position:relative;}
.viewWrap .listComments .contents a:before{width:1px; height:11px; background:#b6aca4; content:''; position:absolute; left:0; top:2px; display:block;}
.viewWrap .listComments .contents a.del{background:none; padding:0;}
.viewWrap .listComments .contents a.del:before{display:none;}
.viewWrap .listComments .contents a.commentExpand{background:url(http://s.nx.com/s2/game/tos/obt/common/bullet/bul_commentt2.gif) 100% 50% no-repeat;}
.viewWrap .listComments .comment1{margin:0 0 25px 0;}
.viewWrap .listComments .comment1 .commentWrite{padding:11px 0 0 44px; display:none;}
.viewWrap .listComments .comment1 .commentWrite textarea{width:631px; height:20px;}
.viewWrap .listComments .comment2{padding:0 0 22px 0; padding-left:42px; background:url(http://s.nx.com/s2/game/tos/obt/common/bullet/bul_commentdot2.png) 10px 13px no-repeat; z-index:10;}
.viewWrap .listComments .comment2First{}
.viewWrap .listComments .commentWrap{border-bottom:1px solid #e5e5e5; position:relative;}
.viewWrap .listComments .commentWrap .bul{width:2px; background:#e0ddda; position:absolute; left:15px; top:76px; z-index:1;}
.viewWrap .listComments .commentWrap:last-child{border-bottom:0 none;}

.viewWrap .sideArea{width:260px; padding:33px 30px 0; float:left;}
.viewWrap .sideArea .info{margin:0 0 -10px 0;}
.viewWrap .sideArea .info .img{width:45px; float:left; margin:0px 6px;}
.viewWrap .sideArea .info .img img{width:45px; display:block;}
.viewWrap .sideArea .info .img img.gm{width:auto;}
.viewWrap .sideArea .info .contents{float:left;}
.viewWrap .sideArea .info .contents .name{font-size:14px; color:#666; margin:0 0 11px 0; padding:4px 0 0 0;}
.viewWrap .sideArea .info .contents .name2{color:#333; padding:10px 0 0 0;}
.viewWrap .sideArea .info .contents .name .nameTeam{color:#222; margin:0 0 2px 0; display:block;}
.viewWrap .sideArea .info .contents .lvs span{margin:0 9px 0 0; padding:0 11px 0 0; position:relative;}
.viewWrap .sideArea .info .contents .lvs .lv:after{width:1px; height:12px; background:#898886; content:''; position:absolute; right:0; top:2px; display:block;}
.viewWrap .sideArea .btnArea{margin:0 0 31px 0;}
.viewWrap .sideArea .btnArea .btnHome{margin:0 0 34px 0;}
.viewWrap .sideArea .btnArea .top{margin:0 0 10px 0;}
.viewWrap .sideArea .btnArea .top button{width:65px; height:64px; background:url(http://s.nx.com/s2/game/tos/obt/common/spr_btn.png) no-repeat; text-indent:-9999px; border-right:1px solid #d7d7d6; outline:none; float:left;}
.viewWrap .sideArea .btnArea .top button.trans{transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}
.viewWrap .sideArea .btnArea .top button.btnLike{background-position:0 -707px;}
.viewWrap .sideArea .btnArea .top button.btnFacebook{background-position:-71px -707px;}
.viewWrap .sideArea .btnArea .top button.btnKakao{background-position:-139px -707px;}
.viewWrap .sideArea .btnArea .top button.btnCopyClip{background-position:-210px -707px; border-right:0 none;}
.viewWrap .sideArea .btnArea .top button.btnLike:hover{background-position:0 -771px;}
.viewWrap .sideArea .btnArea .top button.btnFacebook:hover{background-position:-71px -771px;}
.viewWrap .sideArea .btnArea .top button.btnKakao:hover{background-position:-139px -771px;}
.viewWrap .sideArea .btnArea .top button.btnCopyClip:hover{background-position:-210px -771px;}
.viewWrap .sideArea .btnArea .topExpand button{width:86px;}
.viewWrap .sideArea .btnArea .topExpand button.btnFacebook{background-position:-511px -576px;}
.viewWrap .sideArea .btnArea .topExpand button.btnKakao{background-position:-604px -576px;}
.viewWrap .sideArea .btnArea .topExpand button.btnCopyClip{background-position:-697px -576px;}
.viewWrap .sideArea .btnArea .topExpand button.btnFacebook:hover{background-position:-511px -640px;}
.viewWrap .sideArea .btnArea .topExpand button.btnKakao:hover{background-position:-604px -640px;}
.viewWrap .sideArea .btnArea .topExpand button.btnCopyClip:hover{background-position:-697px -640px;}

.viewWrap .sideArea .btnArea .btm a, .viewWrap .sideArea .btnArea .btm button{outline:none; float:left; transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}
.viewWrap .sideArea .btnArea .btm a:hover, .viewWrap .sideArea .btnArea .btm button:hover{background:#4a4440; color:#fff;}
.viewWrap .sideArea .btnArea .btm a:only-child, .viewWrap .sideArea .btnArea .btm button:only-child{width:260px; border-right:0 none;}
.viewWrap .sideArea .btnArea .btm .btnWrite{border-right:1px solid #ebe8e5;}
.viewWrap .sideArea .history li{margin:0 0 10px 0;}
.viewWrap .sideArea .history a{text-decoration:none; background:#f7f6f5; display:block;}
.viewWrap .sideArea .history .nav{width:260px; height:35px; line-height:35px; color:#fff; background:url(http://s.nx.com/s2/game/tos/obt/common/spr_btn.png) no-repeat; display:block; text-indent:10px; position:relative; transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}
.viewWrap .sideArea .history .prev .nav{background-position:-303px -748px;}
.viewWrap .sideArea .history .next .nav{background-position:-563px -707px;}
.viewWrap .sideArea .history .prev:hover .nav{background-position:-563px -748px;}
.viewWrap .sideArea .history .next:hover .nav{background-position:-303px -707px;}
.viewWrap .sideArea .history .nav .bul{width:36px; height:35px; position:absolute; right:0; top:0; display:none;}
.viewWrap .sideArea .history .prev .nav .bul{background-position:-180px -141px;}
.viewWrap .sideArea .history .next .nav .bul{background-position:-139px -141px;}
.viewWrap .sideArea .history .contents{line-height:18px; color:#888; padding:18px;}
.viewWrap .sideArea .history .contents .tit{font-weight:normal; font-size:16px; color:#222; margin:0 0 6px 0; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.viewWrap .sideArea .history .contents .tit span{color:#888;}
.viewWrap .sideArea .history a:hover .contents .tit{color:#0095a4;}
.viewWrap .sideArea .history .contents .etc{color:#888;}
.viewWrap .sideArea .history .contents .etc .cat{color:#cda182; margin:0 10px 0 0; padding:0 10px 0 0; position:relative;}
.viewWrap .sideArea .history .contents .etc .cat:after{width:1px; height:12px; background:#c8c8c8; content:''; position:absolute; right:0; top:2px; display:block;}


/* btn type */
.boardContents .btn{height:45px; line-height:45px; font-size:15px; text-align:center; text-decoration:none; color:#fff; border:0 none; cursor:pointer; display:block;}
.boardContents .btnType1{width:96px; background:#907c6e;}
.boardContents .btnType2{width:96px; background:#888;}
.boardContents .btnType3{width:96px; background:#444;}
.boardContents .btnType4{width:96px; height:82px; line-height:82px; background:#907c6e;}
.boardContents .btnType5{width:100%; height:40px; line-height:40px; background:#cf6418;}
.boardContents .btnType6{width:129px; height:55px; line-height:55px; color:#666; background:#fff;}
.boardContents .btnType7{width:96px; background:#9a9897; margin:0 10px 0 0; float:left;}
.boardContents .btnType8{width:96px; background:#907c6e; float:left;}
.boardContents .listWrap .btnArea{padding:25px 0 0 0;}


/* 추가한 것 */
.boardContents #btnCompetitionAdd{margin-top:50px;}
/* ------ */

.boardContents .searchArea{text-align:center;}
.boardContents .searchArea *{display:inline-block; vertical-align:middle;}
.boardContents .searchArea select{width:114px; height:35px; margin:0 12px 0 0;;}
.boardContents .searchArea .inputTxt{width:231px; height:34px; line-height:34px; margin:0; padding:0 10px; border:0 none; border-bottom:1px solid #d8d8d8;}
.boardContents .searchArea .btn{width:72px; height:35px; line-height:35px; text-align:center; color:#fff; background:#666; margin:0; padding:0; border:0; cursor:pointer;}

/* < > 버튼 */
#thumLeftBtn {width:15px; height:30px; background:url(http://s.nx.com/s2/game/tos/obt/common/spr_btn.png) no-repeat; vertical-align:top; display:inline-block; margin-top:3px; float:left}
#thumLeftBtn  {background-position: -34px -257px;}
#thumRightBtn {width:15px; height:30px; background:url(http://s.nx.com/s2/game/tos/obt/common/spr_btn.png) no-repeat; vertical-align:top; display:inline-block; margin-top:3px;}
#thumRightBtn  {background-position: -115px -257px;}

/* 팀 이름 */
.teamName {float:left;}
.teamName h2 {width:260px; height:35px; margin-top:10px; overflow:hidden; text-overflow:ellipsis;}

/* 모달 x 버튼 */
#detail_team-header .modal_close { width:20px; height:20px; background-size:20px; }
#apply_comp-header .modal_close { width:20px; height:20px; background-size:20px; }

/* 참여정보 글씨 */
h2.sideInfoTitle{float:left; margin:10px 3px}
h3.sideInfoTitle{float:left; margin:15px 3px}

/* 댓글 */
.cdReply {float:left;}
.commentWrite {width:800px; margin-left:50px; margin-bottom:50px;}