@CHARSET "UTF-8";

/* 모달 아래 버튼 검게 */
#regTeamBtn, #applyJoinBtn, #delTeamBtn, #modTeamBtn, #applyBtn
 { float: right; background:black; border:none; width:auto; overflow:visible; font-size:1.4em; color: #fff; padding: 7px 10px; font-weight:bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
#regTeamBtn { margin-right:70px;}

/* 모달 x 버튼 */
#detail_team-header .modal_close { width:20px; height:20px; background-size:20px; border:0px;}
#add_team-header .modal_close { width:20px; height:20px; background-size:20px; border:0px;}